<!DOCTYPE html>
<html>
<head>
	<title>Browsertime</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable">
    <meta name="theme-color" content="#C1272D">
    <link rel="icon" sizes="192x192" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/index.js"></script>
    <script type="text/javascript">
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
            if (scroll > 0) {
                $("#header").addClass("header-shadow");
            }
            else {
                $("#header").removeClass("header-shadow");
            }
        });
    </script>
</body>
</html>
