// Import Bootstrap
@header-height: 75px;
@header-color: #ffffff;
@text-red: #C1272D;


header {
  background: @header-color;
  height: @header-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.2s ease-in-out;

  .container {

    .logo {
      float: left;
      line-height: @header-height;

      img {
        height: 38px;
      }
    }

    .logo-text {
      float: left;
      text-transform: uppercase;
      font-weight: bold;
      line-height: @header-height;
      margin-left: 10px;
      letter-spacing: 1px;
    }

    ul {
      float: right;
      list-style-type: none;

      li {
        float: left;
        line-height: 75px;
        padding: 0px 20px;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        display: block;

        .active {
          color: @text-red;
        }

        &:last-child {
          padding-right: 0px;
        }

        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: @text-red;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.header-shadow {
  -webkit-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.74);
  -moz-box-shadow:    0px 7px 30px 0px rgba(50, 50, 50, 0.74);
  box-shadow:         0px 7px 30px 0px rgba(50, 50, 50, 0.74);
  opacity: 0.99;
}

.container.top {
  padding-top: 75px;
  padding-bottom: 15px;
}

.container.top h2 {
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  color: black;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

 .col-md-2 {
  padding: 2px;
}

.row {
  padding-right: 13px;
  padding-left: 13px;
}