// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

@header-height: 65px;

body {
  background-color: #242424;
}

header {
  width: 82.5%;
  height: @header-height;
  background-color: #1c1c1c;
  z-index: 999;

  .logo {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: @header-height;
    text-align: left;
    float: left;
    width: 15%;
  }

  ul {
    float: left;
    list-style-type: none;
    width: 85%;
    height: @header-height;

    li {
      float: left;
      height: @header-height;

      a{
        color: #fff;
        height: @header-height;
        line-height: @header-height;
        font-size: 13px;
        text-decoration: none;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 0px 20px;

        &:hover {
          text-decoration: none;
          color: white;
        }

        &.active {
          border-bottom: 2px #eb3f56 solid;
          color: white;
          text-decoration: none;
        }
      }
    }
    
    .search-box {
      float: right;
      height: @header-height;

      input[type=text] {
        height: @header-height;
        line-height: @header-height;
        color: white;
        font-weight: bold;
        border: 0;
        background: transparent;
        border-bottom: 2px #EB3F56 solid;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.sidebar {
  background-color: #1d1d1d;
  width: 17.5%;
  height: 100vh;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 999;

  .header {
    background-color: #141414;
    height: @header-height;
    line-height: @header-height;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
  }
}

.container .movie-list {
  width: 82.5%;
  height: calc(100% - 65px);
}